<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>📄 Docs | <%= libraryName %></title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <style>
      html {
        text-align: center;
        font-family: courier;
        color: #62B486;
        background: #f3f3f3;
      }
    </style>
  </head>
  <body>
    <h1><%= libraryName %></h1>
    <main id="app"></main>
  </body>

  <script src='docs/build/docs.js'></script>
</html>
